go 1.21.0

use ./gin-project/go-admin

use ./gin-project/gin-demo

use ./gin-project/casbin-demo

use ./gin-project/jwt-demo

use ./gin-project/gorm-demo

use ./gin-project/viper-demo

use ./gin-project/gin-base

use (
	./example/val
	./gin-project/api-demo
	./gin-project/captcha-demo
	./gin-project/cron-demo
	./gin-project/gin-api-demo
	./gin-project/gin-validator
	./gin-project/ginblog
	./gin-project/mongodb-demo
	./gin-project/ratelimit-demo

)
