go 1.22.8

use (
	./gin/demo/api-demo
	./gin/demo/captcha-demo
	./gin/demo/casbin-demo
	./gin/demo/consul-demo
	./gin/demo/cron-demo
	./gin/demo/gin-base
	./gin/demo/gin-demo
	./gin/demo/gin-es
	./gin/demo/gin-validator
	./gin/demo/gorm-demo
	./gin/demo/jwt-demo
	./gin/demo/mongodb-demo
	./gin/demo/viper-demo
	./gin/ginblog
	./gin/go-admin
	./gin/go-test
	./gin/project/blue-bell
	./gin/project/bluebell
	./gin/project/gin-api-demo
)
